.table_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    height: 404px;
    width: 100%;
    border: 3px, solid, rgb(81, 0, 0);
    border-radius: 3%;
}

th, td {
    border: 2px, solid, rgb(81, 0, 0);
    border-radius: 13px;
    width: 90px;
    height: 20px;
    text-align: center;
}