.static_table {
    flex: 0 0 500px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9ecef;
    height: 500px;
    
    position: sticky;
    top: 20%;
    transform: translateY(0%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    z-index: 10;
}