.not_found_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.not_found_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(10,23,35);
}