.pa_page_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex: 1;
    margin-top: 15px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e9ecef;
}

.photo_field {
    display: flex;
    justify-content: center;
}

.pa_info_container {
    display: flex;
    flex-direction: column;
    align-items:baseline;
}

.info_field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30px;
}

.login_field, .password_field {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pa_h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 40px;
}

.info_text {
    font-size: 30px;
}