* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.05);
}

.body_content {
    display: flex;
    width: 100%;
    padding: 60px 0 0 0;
    flex: 1 0 auto;
}

.left_block, .right_block {
    flex: 0 0 100px;
}

.page_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 0;
}

a {
    text-decoration: none;
}