html, body, #root, .page_wrapper {
    height: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff6e3;
    background-color:rgba(210, 210, 210, 0.393);
    padding-left: 10%;
    padding-right: 10%;
    min-width: 1190px;
}

#root {
    background-color: azure;
    display: flex;
    flex-direction: column;
}

.page_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}