header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /* background-color: rgb(160, 59, 59); */
    /* background-color: rgb(117, 97, 97); */
    /* background-color: rgb(199, 139, 80); */
    /* background-color: rgb(43, 208, 148); */
    /* background-color: rgb(92, 169, 118); */
    background-color: #5fa189;

    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    z-index: 1000;
}

.search-bar {
    height: 50px;
    width: 400px;
    border: 0px;
    border-radius: 14px;
}